
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Herbario</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
  <header><h1>Herbario</h1></header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
